* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 2.5em;
  margin: 45px auto;
}

h2 {
  color: #455A64;
  font-weight: 800;
}

header {
  margin-bottom: 25px;
  text-align: center;
}

.create-bookmark-section, .bookmark-section {
  position: absolute;
  display: inline-block;
  height: 100%;
  margin: 0;
  width: 50%;
}

/*Create bookmark section styling*/
.create-bookmark-section {
  background-color: #455A64;
  color: #FFFFFF;
  left: 0;
}

.create-bookmark-article {
  position: absolute;
  margin-top: 35%;
}

img {
  height: 35px;
}

.link-form {

}

.input-box {
  box-sizing: border-box;
  height: 60px;
  width:88%;
  margin: 3.5% 6%;
  padding: 3%;
  font-size: 1.2em;

}

.enter-button {
  background-color: #FFC107;
  color: #FFFFFF;
  font-weight: 800;
  width: 88%;
  margin: 3.5% 6%;
}

.enter-button:hover {
  background-color: #FFD773;
}

/*Saved bookmark section styling*/
.bookmark-section {
  background-color: #CFD8DC;
  box-sizing: border-box;
  right: 0;
}

.card {
  background-color: white;
  border: 1px solid #607D8B;
  color: #455A64;
  display: block;
  position: relative;
  margin: 25px 20px;
  padding: 10px 10px 25px;
}

.card > h2 {
  font-size: 1.5em;
  padding-left: 5px;
  margin: 0;
}

.card > p {
  border-top: 1px solid #CFD8DC;
  border-bottom: 1px solid #CFD8DC;
  margin: 10px 5px;
  padding: 15px 0;
  font-size: 1em;
}

a {
  color: #607D8B;
  text-decoration: none;
  border-bottom: 0.5px solid #F2F4F4;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid #;
}

.card > button {
  color: #455A64;
  padding: 0;
  color: inherit;
  background: none;
  border: none;
  text-decoration: underline #F2F4F4;
  position: absolute;
  font-size: .8em;
}

.mark-read-button {
  left: 25px;
}

.delete-button {
  right: 25px;
}

.read {

}

.card {

}

.bookmark-button {
  font-size: ;
  font
}