body, html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

body {
  width: 100%;
}

h1 {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 3em;
}

h2 {
  color: #455A64;
  font-weight: 800;
}

header {
  margin-bottom: 50px;
  text-align: center;
}

.create-bookmark-section, .bookmark-section {
  position: fixed;
  display: inline-block;
  height: 100%;
  margin: 0;
  width: 50%;
}

/*Create bookmark section styling*/
.create-bookmark-section {
  background-color: #455A64;
  color: #FFFFFF;
  left: 0;
}

.create-bookmark-article {
  /*display: block;
  margin: auto;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

img {
  height: 50px;
}

.link-form {

}

.input-box {
  box-sizing: border-box;
  display: block;
  padding: 0.2em;
  font-size: 1.5em;
  margin: 40px auto;
  width: 88%;
}

input::placeholder {
  color: #BBBDBF;

}

.enter-button {
  background-color: #FFC107;
  border-radius: 0;
  border: 0;
  color: #FFFFFF;
  font-weight: 800;
  width: 88%;
  margin: 25px auto;
  font-size: 1em;
  padding: 0.5em;
  display: block;
}

.enter-button:hover {
  background-color: #FFD773;
}

/*Saved bookmark section styling*/
.bookmark-section {
  background-color: #CFD8DC;
  box-sizing: border-box;
  overflow-y: auto;
  right: 0;
}

.card {
  background-color: white;
  border: 1px solid #607D8B;
  color: #455A64;
  display: block;
  position: relative;
  margin: 25px 20px;
  padding: 10px 10px 22px;
}
.card > h2 {
  font-size: 1.5em;
  padding-left: 5px;
  margin: 0;
}

.card > p {
  border-top: 1px solid #CFD8DC;
  border-bottom: 1px solid #CFD8DC;
  margin: 10px 5px 8px;
  padding: 20px 0;
  font-size: 1em;
}

a {
  color: #607D8B;
  text-decoration: none;
  border-bottom: 0.5px solid #F2F4F4;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid #FFC107;
  font-weight: 800;
}


.card > button {
  color: #455A64;
  padding: 0;
  /*color: inherit;*/
  background: none;
  border: none;
  text-decoration: underline #F2F4F4;
  position: absolute;
  font-size: .8em;
}

.mark-read-button {
  left: 14px;
}

.delete-button {
  right: 14px;
}

.card > button:hover {
  text-decoration: underline #FFC107;
}

.mark-read-button:hover {
  font-weight: 800;
}

.read {
  background-color: #F2F4F4;
}

a .read {
  border-bottom: 1px solid #CFD8DC; 
}

button .read {
  color: #F05A28;
  text-decoration: none;
}



.card {

}

.bookmark-button {
  font-size: ;
  font
}